body {
	background-color: #e8ecef;
}

.centered {
	padding-top: 150px;
	text-align: center;
}

.secret-text {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background-color: #000;
}
hr {
	padding-top: 5rem;
}
.btn {
	width: 10rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.btn-dark:hover {
	background-color: black;
	border: 1px solid #e8ecef;
}
.btn-light:hover {
	background-color: #ffffff;
	border: 1px solid #e8ecef;
}
.margin-left-none {
	margin-left: 0;
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #bbbbbb;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(61, 61, 61, 0.25);
}
