body {
	background-color: #e8ecef;
}

.centered {
	text-align: center;
}

.secret-text {
	text-align: center;
	font-size: 1.5rem;
	font-family: "Ubuntu";
	font-weight: 100;
	letter-spacing: 0.15rem;
	color: #ebebeb;
	background-color: #16181ad7;
	border-radius: 0.25rem;
}
hr {
	padding-top: 5rem;
}
.btn-lg {
	width: 12rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.btn-dark:hover {
	background-color: black;
	border: 1px solid #e8ecef;
}
.btn-light:hover {
	background-color: #ffffff;
	border: 1px solid #e8ecef;
}
.margin-left-none {
	margin-left: 0;
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #bbbbbb;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(61, 61, 61, 0.25);
}
.col-xsm-4 .card-body {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16;
	padding-right: 16;
}
.btn-social {
	margin: 0;
}
.fab {
	margin-top: 0.1rem;
}
.h-100 {
	height: 100% !important;
}
.social-btn {
	margin-top: 8px;
	border-bottom: 1px solid #dfdfdf;
}
.social-btn:last-child {
	border: none;
}
